.small{
    width: 120px;
    height: 25px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
}
.medium{
    width: 150px;
    height: 30px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
}
.large{
    width: 200px;
    height: 35px;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 800;
}