.container{
    display: flex;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    .leftContainer{
        width: 30%;
        border-right: 1px solid #000;
    }
    .rightContainer{
        width: 70%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h4{
            font-size: 12px;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
        span{
            font-size: 12px;
            font-weight: normal;
            margin: 0 0 0 5px;
            padding: 0;
        }
        h2{
            margin: 0 0 0 15px;
            padding: 0;
        }
        .btn{
            align-self: flex-end;
        }
    }
}