.container{
    display: flex;
    flex-direction: column;
    .label{
        margin: .8rem;
    }
    .containerInput{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .input{
            width: 100%;
            height: 1.4rem;
            border-radius: 15px;
            background-color: rgb(186, 185, 185);
            padding-left: 2rem;
        }
        .icon{
            width: 1rem;
            margin-left: .5rem;
            position: absolute;
        }
    }
}